[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.0"
pydantic = "==1.9.0"
uvicorn = "==0.15.0"
apache-airflow = "==2.3.0"
apache-airflow-providers-postgres = "==4.1.0"

[dev-packages]
pytest = "==7.1.2"
ipython = "==8.4.0"
pyyaml = "==6.0"

[requires]
python_version = "3.9"
